workflows/bpel/JearnTranslation/wsdl/StringOperationServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
targetNamespace="http://trans.nict.go.jp/collabo/services/StringOperationService"
xmlns:apachesoap="http://xml.apache.org/xml-soap"
xmlns:impl="http://trans.nict.go.jp/collabo/services/StringOperationService"
xmlns:intf="http://trans.nict.go.jp/collabo/services/StringOperationService"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <wsdl:message name="spaceTrimmingRequest">

      <wsdl:part name="text" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="full2HalfSizeRequest">

      <wsdl:part name="text" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="full2HalfSizeResponse">

      <wsdl:part name="full2HalfSizeReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="spaceTrimmingResponse">

      <wsdl:part name="spaceTrimmingReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="StringOperationService">

      <wsdl:operation name="spaceTrimming" parameterOrder="text">

         <wsdl:input message="impl:spaceTrimmingRequest" name="spaceTrimmingRequest"/>

         <wsdl:output message="impl:spaceTrimmingResponse" name="spaceTrimmingResponse"/>

      </wsdl:operation>

      <wsdl:operation name="full2HalfSize" parameterOrder="text">

         <wsdl:input message="impl:full2HalfSizeRequest" name="full2HalfSizeRequest"/>

         <wsdl:output message="impl:full2HalfSizeResponse" name="full2HalfSizeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StringOperationServiceSoapBinding" type="impl:StringOperationService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="spaceTrimming">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="spaceTrimmingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.community.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="spaceTrimmingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://trans.nict.go.jp/collabo/services/StringOperationService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="full2HalfSize">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="full2HalfSizeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.community.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="full2HalfSizeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://trans.nict.go.jp/collabo/services/StringOperationService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StringOperationServiceService">

      <wsdl:port binding="impl:StringOperationServiceSoapBinding" name="StringOperationService">

         <wsdlsoap:address location="http://192.168.0.2:8080/collabo/services/StringOperationService"/>

      </wsdl:port>

   </wsdl:service>

<plnk:partnerLinkType name="StringOperatorPLT">
   <plnk:role name="stroperator">
      <plnk:portType name="impl:StringOperationService"/>
   </plnk:role>
</plnk:partnerLinkType>

</wsdl:definitions>
