workflows/bpel/EBMTPreprocessDictionary/wsdl/EBMTService.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost:8080/wrapper-1.2/services/EBMT" xmlns:intf="http://localhost:8080/wrapper-1.2/services/EBMT" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://bilingualdictionary.service_1_2.langrid.nict.go.jp" xmlns:tns2="http://paralleltext.service_1_2.langrid.nict.go.jp" xmlns:tns3="http://langrid.nict.go.jp/ws_1_2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/wrapper-1.2/services/EBMT">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/wrapper-1.2/services/EBMT">
   <import namespace="http://paralleltext.service_1_2.langrid.nict.go.jp"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://bilingualdictionary.service_1_2.langrid.nict.go.jp"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Translation">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Translation[]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParallelText">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParallelText[]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bilingualdictionary.service_1_2.langrid.nict.go.jp">
   <import namespace="http://paralleltext.service_1_2.langrid.nict.go.jp"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://localhost:8080/wrapper-1.2/services/EBMT"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Translation">
    <sequence>
     <element name="headWord" nillable="true" type="xsd:string"/>
     <element name="targetWords" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
  </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://paralleltext.service_1_2.langrid.nict.go.jp">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://localhost:8080/wrapper-1.2/services/EBMT"/>
   <import namespace="http://bilingualdictionary.service_1_2.langrid.nict.go.jp"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ParallelText">
    <sequence>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="target" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://langrid.nict.go.jp/ws_1_2/">
   <import namespace="http://paralleltext.service_1_2.langrid.nict.go.jp"/>
   <import namespace="http://localhost:8080/wrapper-1.2/services/EBMT"/>
   <import namespace="http://bilingualdictionary.service_1_2.langrid.nict.go.jp"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguagePairNotUniquelyDecidedException">
    <complexContent>
     <extension base="tns3:InvalidParameterException">
      <sequence>
       <element name="candidates" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="message" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguagePairException">
    <complexContent>
     <extension base="tns3:InvalidParameterException">
      <sequence>
       <element name="language1" nillable="true" type="xsd:string"/>
       <element name="language2" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="translateResponse">
    <wsdl:part name="translateReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="translateRequest">
    <wsdl:part name="sourceLang" type="xsd:string"/>
    <wsdl:part name="targetLang" type="xsd:string"/>
    <wsdl:part name="source" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="preprocessParallelTextResponse">
    <wsdl:part name="preprocessParallelTextReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ProcessFailedException">
    <wsdl:part name="fault" type="tns3:ProcessFailedException"/>
  </wsdl:message>
  <wsdl:message name="NoAccessPermissionException">
    <wsdl:part name="fault" type="tns3:NoAccessPermissionException"/>
  </wsdl:message>
  <wsdl:message name="UnsupportedLanguagePairException">
    <wsdl:part name="fault" type="tns3:UnsupportedLanguagePairException"/>
  </wsdl:message>
  <wsdl:message name="ServerBusyException">
    <wsdl:part name="fault" type="tns3:ServerBusyException"/>
  </wsdl:message>
  <wsdl:message name="AccessLimitExceededException">
    <wsdl:part name="fault" type="tns3:AccessLimitExceededException"/>
  </wsdl:message>
  <wsdl:message name="preprocessParallelTextRequest">
    <wsdl:part name="contents" type="impl:ArrayOf_tns2_ParallelText"/>
    <wsdl:part name="sourceLang" type="xsd:string"/>
    <wsdl:part name="targetLang" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part name="fault" type="tns3:InvalidParameterException"/>
  </wsdl:message>
  <wsdl:message name="preprocessDictionaryResponse">
    <wsdl:part name="preprocessDictionaryReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ServiceNotActiveException">
    <wsdl:part name="fault" type="tns3:ServiceNotActiveException"/>
  </wsdl:message>
  <wsdl:message name="NoValidEndpointsException">
    <wsdl:part name="fault" type="tns3:NoValidEndpointsException"/>
  </wsdl:message>
  <wsdl:message name="preprocessDictionaryRequest">
    <wsdl:part name="contents" type="impl:ArrayOf_tns1_Translation"/>
    <wsdl:part name="sourceLang" type="xsd:string"/>
    <wsdl:part name="targetLang" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="LanguagePairNotUniquelyDecidedException">
    <wsdl:part name="fault" type="tns3:LanguagePairNotUniquelyDecidedException"/>
  </wsdl:message>
  <wsdl:message name="ServiceNotFoundException">
    <wsdl:part name="fault" type="tns3:ServiceNotFoundException"/>
  </wsdl:message>
  <wsdl:portType name="EBMT">
    <wsdl:operation name="preprocessDictionary" parameterOrder="contents sourceLang targetLang">
      <wsdl:input message="impl:preprocessDictionaryRequest" name="preprocessDictionaryRequest"/>
      <wsdl:output message="impl:preprocessDictionaryResponse" name="preprocessDictionaryResponse"/>
    </wsdl:operation>
    <wsdl:operation name="preprocessParallelText" parameterOrder="contents sourceLang targetLang">
      <wsdl:input message="impl:preprocessParallelTextRequest" name="preprocessParallelTextRequest"/>
      <wsdl:output message="impl:preprocessParallelTextResponse" name="preprocessParallelTextResponse"/>
    </wsdl:operation>
    <wsdl:operation name="translate" parameterOrder="sourceLang targetLang source">
      <wsdl:input message="impl:translateRequest" name="translateRequest"/>
      <wsdl:output message="impl:translateResponse" name="translateResponse"/>
      <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>
      <wsdl:fault message="impl:LanguagePairNotUniquelyDecidedException" name="LanguagePairNotUniquelyDecidedException"/>
      <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>
      <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>
      <wsdl:fault message="impl:UnsupportedLanguagePairException" name="UnsupportedLanguagePairException"/>
      <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>
      <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>
      <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>
      <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>
      <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EBMTSoapBinding" type="impl:EBMT">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="preprocessDictionary">
    <wsdlsoap:operation soapAction="" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="preprocessDictionaryRequest">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ebmt.wrapper.langrid.nict.go.jp" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="preprocessDictionaryResponse">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preprocessParallelText">
    <wsdlsoap:operation soapAction="" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="preprocessParallelTextRequest">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ebmt.wrapper.langrid.nict.go.jp" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="preprocessParallelTextResponse">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="translate">
    <wsdlsoap:operation soapAction="" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="translateRequest">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://translation.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="translateResponse">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
      <wsdl:fault name="ServerBusyException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="LanguagePairNotUniquelyDecidedException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguagePairNotUniquelyDecidedException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="NoAccessPermissionException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="AccessLimitExceededException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedLanguagePairException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguagePairException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="NoValidEndpointsException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceNotActiveException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ProcessFailedException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceNotFoundException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidParameterException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://localhost:8080/wrapper-1.2/services/EBMT" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EBMTService">
    <wsdl:port binding="impl:EBMTSoapBinding" name="EBMT">
    <wsdlsoap:address location="http://localhost:8080/wrapper-1.2/services/EBMT" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
