workflows/bpel/SpecializedTranslationWithBilingualDictionary/wsdl/unknown.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://langrid.nict.go.jp/langrid-1.2/services/SpecializedTranslationWithBilingualDictionary"
	xmlns:tns="http://langrid.nict.go.jp/langrid-1.2/services/SpecializedTranslationWithBilingualDictionary"
	xmlns:ns4="http://localhost:8080/wrapper-mock-1.2/services/AbstractTranslation"
	xmlns:ns1="http://langrid.nict.go.jp/langrid-1.2/services/SpecializedTranslationWithBilingualDictionary"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns3="http://localhost:8080/wrapper-mock-1.2/services/AbstractBilingualDictionary"
	xmlns:ns5="http://trans.nict.go.jp/collabo/services/TermReplacementService"
	xmlns:ns2="http://localhost:8080/wrapper-mock-1.2/services/AbstractMorphologicalAnalysis"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns6="http://trans.nict.go.jp/collabo/services/CodeGenerationService"
	xmlns:ns7="http://trans.nict.go.jp/collabo/services/StringOperationService"
	>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="selfPLT">
   <plnk:role name="translator">
      <plnk:portType name="tns:Translate"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="MorphologicalAnalysisPLT">
   <plnk:role name="analyzer">
      <plnk:portType name="ns2:MorphologicalAnalysis"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="BilingualDictionaryPLT">
   <plnk:role name="dictionary">
      <plnk:portType name="ns3:BilingualDictionary"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="ReplacementPLT">
   <plnk:role name="replacement">
      <plnk:portType name="ns5:TermReplacementService"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="TranslationPLT">
   <plnk:role name="translator">
      <plnk:portType name="ns4:Translation"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="CodeGeneratorPLT">
   <plnk:role name="codegenerator">
      <plnk:portType name="ns6:CodeGenerationService"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="StringOperatorPLT">
   <plnk:role name="stroperator">
      <plnk:portType name="ns7:StringOperationService"/>
   </plnk:role>
</plnk:partnerLinkType>
  <wsdl:message name="translateRequest">
    <wsdl:part name="sourceLang" type="xsd:string"/>
    <wsdl:part name="targetLang" type="xsd:string"/>
    <wsdl:part name="source" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="translateResponse">
    <wsdl:part name="translateReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="Translate">
    <wsdl:operation name="translate">
      <wsdl:input name="translateRequest" message="tns:translateRequest"/>
      <wsdl:output name="translateResponse" message="tns:translateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
