workflows/bpel/SpecializedTranslationWithBilingualDictionaryForSpecializedTranslation/wsdl/NiiService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" xmlns:intf="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/" xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/bilingualdictionary/" xmlns:tns3="http://langrid.nict.go.jp/ws_1_2/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/bilingualdictionary/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Morpheme">
    <sequence>
     <element name="lemma" nillable="true" type="xsd:string"/>
     <element name="partOfSpeech" nillable="true" type="xsd:string"/>
     <element name="word" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/bilingualdictionary/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Morpheme">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Morpheme[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_Translation">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:Translation[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_LanguagePair">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:LanguagePair[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/bilingualdictionary/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Translation">
    <sequence>
     <element name="headWord" nillable="true" type="xsd:string"/>
     <element name="targetWords" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/morphologicalanalysis/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/bilingualdictionary/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguagePairNotUniquelyDecidedException">
    <complexContent>
     <extension base="tns3:InvalidParameterException">
      <sequence>
       <element name="candidates" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="message" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguagePairException">
    <complexContent>
     <extension base="tns3:InvalidParameterException">
      <sequence>
       <element name="language1" nillable="true" type="xsd:string"/>
       <element name="language2" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedMatchingMethodException">
    <complexContent>
     <extension base="tns3:InvalidParameterException">
      <sequence>
       <element name="matchingMethod" nillable="true" type="xsd:string"/>
       <element name="validMethods" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns3:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguagePair">
    <sequence>
     <element name="first" nillable="true" type="xsd:string"/>
     <element name="second" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchRequest">

      <wsdl:part name="headLang" type="xsd:string"/>

      <wsdl:part name="targetLang" type="xsd:string"/>

      <wsdl:part name="headWord" type="xsd:string"/>

      <wsdl:part name="matchingMethod" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="ProcessFailedException">

      <wsdl:part name="fault" type="tns3:ProcessFailedException"/>

   </wsdl:message>

   <wsdl:message name="searchResponse">

      <wsdl:part name="searchReturn" type="impl:ArrayOf_tns2_Translation"/>

   </wsdl:message>

   <wsdl:message name="getLastUpdateResponse">

      <wsdl:part name="getLastUpdateReturn" type="xsd:dateTime"/>

   </wsdl:message>

   <wsdl:message name="AccessLimitExceededException">

      <wsdl:part name="fault" type="tns3:AccessLimitExceededException"/>

   </wsdl:message>

   <wsdl:message name="InvalidParameterException">

      <wsdl:part name="fault" type="tns3:InvalidParameterException"/>

   </wsdl:message>

   <wsdl:message name="LanguagePairNotUniquelyDecidedException">

      <wsdl:part name="fault" type="tns3:LanguagePairNotUniquelyDecidedException"/>

   </wsdl:message>

   <wsdl:message name="NoValidEndpointsException">

      <wsdl:part name="fault" type="tns3:NoValidEndpointsException"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedLanguagePairException">

      <wsdl:part name="fault" type="tns3:UnsupportedLanguagePairException"/>

   </wsdl:message>

   <wsdl:message name="getLastUpdateRequest">

   </wsdl:message>

   <wsdl:message name="searchByMorphemesRequest">

      <wsdl:part name="headLang" type="xsd:string"/>

      <wsdl:part name="targetLang" type="xsd:string"/>

      <wsdl:part name="morpheme" type="impl:ArrayOf_tns1_Morpheme"/>

   </wsdl:message>

   <wsdl:message name="UnsupportedMatchingMethodException">

      <wsdl:part name="fault" type="tns3:UnsupportedMatchingMethodException"/>

   </wsdl:message>

   <wsdl:message name="NoAccessPermissionException">

      <wsdl:part name="fault" type="tns3:NoAccessPermissionException"/>

   </wsdl:message>

   <wsdl:message name="getSupportedLanguagePairsResponse">

      <wsdl:part name="getSupportedLanguagePairsReturn" type="impl:ArrayOf_tns3_LanguagePair"/>

   </wsdl:message>

   <wsdl:message name="searchByMorphemesResponse">

      <wsdl:part name="searchByMorphemesReturn" type="impl:ArrayOf_tns2_Translation"/>

   </wsdl:message>

   <wsdl:message name="ServerBusyException">

      <wsdl:part name="fault" type="tns3:ServerBusyException"/>

   </wsdl:message>

   <wsdl:message name="getSupportedMatchingMethodsResponse">

      <wsdl:part name="getSupportedMatchingMethodsReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getSupportedLanguagePairsRequest">

   </wsdl:message>

   <wsdl:message name="ServiceNotActiveException">

      <wsdl:part name="fault" type="tns3:ServiceNotActiveException"/>

   </wsdl:message>

   <wsdl:message name="ServiceNotFoundException">

      <wsdl:part name="fault" type="tns3:ServiceNotFoundException"/>

   </wsdl:message>

   <wsdl:message name="getSupportedMatchingMethodsRequest">

   </wsdl:message>

   <wsdl:portType name="Nii">

      <wsdl:operation name="searchByMorphemes" parameterOrder="headLang targetLang morpheme">

         <wsdl:input message="impl:searchByMorphemesRequest" name="searchByMorphemesRequest"/>

         <wsdl:output message="impl:searchByMorphemesResponse" name="searchByMorphemesResponse"/>

         <wsdl:fault message="impl:UnsupportedLanguagePairException" name="UnsupportedLanguagePairException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:LanguagePairNotUniquelyDecidedException" name="LanguagePairNotUniquelyDecidedException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UnsupportedMatchingMethodException" name="UnsupportedMatchingMethodException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedLanguagePairs">

         <wsdl:input message="impl:getSupportedLanguagePairsRequest" name="getSupportedLanguagePairsRequest"/>

         <wsdl:output message="impl:getSupportedLanguagePairsResponse" name="getSupportedLanguagePairsResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedMatchingMethods">

         <wsdl:input message="impl:getSupportedMatchingMethodsRequest" name="getSupportedMatchingMethodsRequest"/>

         <wsdl:output message="impl:getSupportedMatchingMethodsResponse" name="getSupportedMatchingMethodsResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

      <wsdl:operation name="getLastUpdate">

         <wsdl:input message="impl:getLastUpdateRequest" name="getLastUpdateRequest"/>

         <wsdl:output message="impl:getLastUpdateResponse" name="getLastUpdateResponse"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

      </wsdl:operation>

      <wsdl:operation name="search" parameterOrder="headLang targetLang headWord matchingMethod">

         <wsdl:input message="impl:searchRequest" name="searchRequest"/>

         <wsdl:output message="impl:searchResponse" name="searchResponse"/>

         <wsdl:fault message="impl:UnsupportedLanguagePairException" name="UnsupportedLanguagePairException"/>

         <wsdl:fault message="impl:ServiceNotFoundException" name="ServiceNotFoundException"/>

         <wsdl:fault message="impl:ServiceNotActiveException" name="ServiceNotActiveException"/>

         <wsdl:fault message="impl:NoValidEndpointsException" name="NoValidEndpointsException"/>

         <wsdl:fault message="impl:LanguagePairNotUniquelyDecidedException" name="LanguagePairNotUniquelyDecidedException"/>

         <wsdl:fault message="impl:InvalidParameterException" name="InvalidParameterException"/>

         <wsdl:fault message="impl:ServerBusyException" name="ServerBusyException"/>

         <wsdl:fault message="impl:AccessLimitExceededException" name="AccessLimitExceededException"/>

         <wsdl:fault message="impl:ProcessFailedException" name="ProcessFailedException"/>

         <wsdl:fault message="impl:NoAccessPermissionException" name="NoAccessPermissionException"/>

         <wsdl:fault message="impl:UnsupportedMatchingMethodException" name="UnsupportedMatchingMethodException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NiiSoapBinding" type="impl:Nii">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchByMorphemes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchByMorphemesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bilingualdictionary.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchByMorphemesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnsupportedLanguagePairException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguagePairException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="LanguagePairNotUniquelyDecidedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguagePairNotUniquelyDecidedException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedMatchingMethodException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedMatchingMethodException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedLanguagePairs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedLanguagePairsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bilingualdictionary.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedLanguagePairsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedMatchingMethods">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedMatchingMethodsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bilingualdictionary.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedMatchingMethodsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLastUpdate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLastUpdateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bilingualdictionary.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLastUpdateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bilingualdictionary.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="UnsupportedLanguagePairException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguagePairException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotFoundException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServiceNotActiveException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoValidEndpointsException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="LanguagePairNotUniquelyDecidedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguagePairNotUniquelyDecidedException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="InvalidParameterException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ServerBusyException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="AccessLimitExceededException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="ProcessFailedException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="NoAccessPermissionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

         <wsdl:fault name="UnsupportedMatchingMethodException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedMatchingMethodException" namespace="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NiiService">

      <wsdl:port binding="impl:NiiSoapBinding" name="Nii">

         <wsdlsoap:address location="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>