workflows/bpel/UserDictionarySpecializedTranslationWithBilingualDictionaryForSpecializedTranslation/wsdl/unknown.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
 targetNamespace="http://langrid.nict.go.jp/langrid-1.2/services/UserDictionarySpecializedTranslationWithBilingualDictionaryForSpecializedTranslation"
 xmlns:tns="http://langrid.nict.go.jp/langrid-1.2/services/UserDictionarySpecializedTranslationWithBilingualDictionaryForSpecializedTranslation"
 xmlns:ns1="http://langrid.nict.go.jp/langrid-1.2/services/UserDictionarySpecializedTranslationWithBilingualDictionaryForSpecializedTranslation"
 xmlns:ns2="http://localhost:8080/wrapper-mock-1.2/services/AbstractMorphologicalAnalysis"
 xmlns:ns3="http://langrid.nict.go.jp/langrid-service_1_2/services/Nii"
 xmlns:ns4="http://localhost:8080/wrapper-mock-1.2/services/AbstractTranslation"
 xmlns:ns5="http://trans.nict.go.jp/collabo/services/TermReplacementService"
 xmlns:ns6="http://trans.nict.go.jp/collabo/services/CodeGenerationService"
 xmlns:ns7="http://trans.nict.go.jp/collabo/services/StringOperationService"
 xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="selfPLT">
   <plnk:role name="self">
      <plnk:portType name="tns:Translate"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="MorphologicalAnalysisPLT">
   <plnk:role name="analyzer">
      <plnk:portType name="ns2:MorphologicalAnalysis"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="BilingualDictionaryPLT">
   <plnk:role name="dictionary">
      <plnk:portType name="ns3:Nii"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="ReplacementPLT">
   <plnk:role name="replacement">
      <plnk:portType name="ns5:TermReplacementService"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="TranslationPLT">
   <plnk:role name="translator">
      <plnk:portType name="ns4:Translation"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="CodeGeneratorPLT">
   <plnk:role name="codegenerator">
      <plnk:portType name="ns6:CodeGenerationService"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="StringOperatorPLT">
   <plnk:role name="stroperator">
      <plnk:portType name="ns7:StringOperationService"/>
   </plnk:role>
</plnk:partnerLinkType>
  <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/langrid-1.2/services/UserDictionarySpecializedTranslationWithBilingualDictionaryForSpecializedTranslation" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns_Translation">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns:Translation[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://langrid.nict.go.jp/langrid-1.2/services/UserDictionarySpecializedTranslationWithBilingualDictionaryForSpecializedTranslation" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="Translation">
    <sequence>
     <element name="headWord" nillable="true" type="xsd:string"/>
     <element name="targetWords" nillable="true" type="tns:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="translateRequest">
    <wsdl:part name="sourceLang" type="xsd:string"/>
    <wsdl:part name="targetLang" type="xsd:string"/>
    <wsdl:part name="source" type="xsd:string"/>
    <wsdl:part name="userDict" type="tns:ArrayOf_tns_Translation"/>
    <wsdl:part name="dictTargetLang" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="translateResponse">
    <wsdl:part name="translateReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="Translate">
    <wsdl:operation name="translate">
      <wsdl:input name="translateRequest" message="tns:translateRequest"/>
      <wsdl:output name="translateResponse" message="tns:translateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
