workflows/bpel/JearnTranslationKyotoU/wsdl/TermReplacementServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
targetNamespace="http://trans.nict.go.jp/collabo/services/TermReplacementService"
xmlns:impl="http://trans.nict.go.jp/collabo/services/TermReplacementService"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:tns1="http://langrid.nict.go.jp/ws_1_0/morphologicalanalysis/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <wsdl:types>
  <schema targetNamespace="http://trans.nict.go.jp/collabo/services/TermReplacementService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_Morpheme">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Morpheme[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="replaceRequest">

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="text" type="xsd:string"/>

      <wsdl:part name="searchWords" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="replacementWords" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="morpheme" type="impl:ArrayOf_tns1_Morpheme"/>

   </wsdl:message>

   <wsdl:message name="replaceResponse">

      <wsdl:part name="replaceReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="TermReplacementService">

      <wsdl:operation name="replace" parameterOrder="language text searchWords replacementWords morpheme">

         <wsdl:input message="impl:replaceRequest" name="replaceRequest"/>

         <wsdl:output message="impl:replaceResponse" name="replaceResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TermReplacementServiceSoapBinding" type="impl:TermReplacementService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="replace">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="replaceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.community.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="replaceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://trans.nict.go.jp/collabo/services/TermReplacementService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TermReplacementServiceService">

      <wsdl:port binding="impl:TermReplacementServiceSoapBinding" name="TermReplacementService">

         <wsdlsoap:address location="http://192.168.0.2:8080/collabo/services/TermReplacementService"/>

      </wsdl:port>

   </wsdl:service>

<plnk:partnerLinkType name="ReplacementPLT">
   <plnk:role name="replacement">
      <plnk:portType name="impl:TermReplacementService"/>
   </plnk:role>
</plnk:partnerLinkType>



</wsdl:definitions>
