workflows/bpel/TwoHopTranslation/wsdl/unknown.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
targetNamespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation"
xmlns:impl="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation"
xmlns:intf="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:apachesoap="http://xml.apache.org/xml-soap"
xmlns:ns1="http://localhost:8080/wrapper-mock-1.2/services/AbstractTranslation"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/multihoptranslation/">
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="TwoHopTranslationPLT">
   <plnk:role name="translator">
      <plnk:portType name="impl:TwoHopTranslation"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="TranslationPLT">
   <plnk:role name="translator">
      <plnk:portType name="ns1:Translation"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="TranslationPLT">
   <plnk:role name="translator">
      <plnk:portType name="ns1:Translation"/>
   </plnk:role>
</plnk:partnerLinkType>
  <wsdl:types>
    <schema targetNamespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/multihoptranslation/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_LanguagePath">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:LanguagePath[]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
    <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/multihoptranslation/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TwoHopTranslationResult">
    <sequence>
     <element name="intermediates" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="target" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/multihoptranslation/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguagePath">
    <sequence>
     <element name="languages" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="UnsupportedLanguagePathException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="languagePath" nillable="true" type="tns2:LanguagePath"/>
       <element name="parameterNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguagePathNotUniquelyDecidedException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="candidates" nillable="true" type="impl:ArrayOf_tns2_LanguagePath"/>
       <element name="message" nillable="true" type="xsd:string"/>
       <element name="parameterNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceConfigurationException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnknownException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="multihopTranslateRequest">
    <wsdl:part name="sourceLang" type="xsd:string"/>
    <wsdl:part name="intermediateLangs" type="impl:ArrayOf_xsd_string"/>
    <wsdl:part name="targetLang" type="xsd:string"/>
    <wsdl:part name="source" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ProcessFailedException">
    <wsdl:part name="fault" type="tns2:ProcessFailedException"/>
  </wsdl:message>
  <wsdl:message name="ServiceNotActiveException">
    <wsdl:part name="fault" type="tns2:ServiceNotActiveException"/>
  </wsdl:message>
  <wsdl:message name="UnsupportedLanguagePathException">
    <wsdl:part name="fault" type="tns2:UnsupportedLanguagePathException"/>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part name="fault" type="tns2:InvalidParameterException"/>
  </wsdl:message>
  <wsdl:message name="ServiceNotFoundException">
    <wsdl:part name="fault" type="tns2:ServiceNotFoundException"/>
  </wsdl:message>
  <wsdl:message name="NoAccessPermissionException">
    <wsdl:part name="fault" type="tns2:NoAccessPermissionException"/>
  </wsdl:message>
  <wsdl:message name="UnknownException">
    <wsdl:part name="fault" type="tns2:UnknownException"/>
  </wsdl:message>
  <wsdl:message name="ServerBusyException">
    <wsdl:part name="fault" type="tns2:ServerBusyException"/>
  </wsdl:message>
  <wsdl:message name="LanguagePathNotUniquelyDecidedException">
    <wsdl:part name="fault" type="tns2:LanguagePathNotUniquelyDecidedException"/>
  </wsdl:message>
  <wsdl:message name="AccessLimitExceededException">
    <wsdl:part name="fault" type="tns2:AccessLimitExceededException"/>
  </wsdl:message>
  <wsdl:message name="multihopTranslateResponse">
    <wsdl:part name="multihopTranslateReturn" type="tns1:TwoHopTranslationResult"/>
  </wsdl:message>
  <wsdl:message name="ServiceConfigurationException">
    <wsdl:part name="fault" type="tns2:ServiceConfigurationException"/>
  </wsdl:message>
  <wsdl:message name="NoValidEndpointsException">
    <wsdl:part name="fault" type="tns2:NoValidEndpointsException"/>
  </wsdl:message>
  <wsdl:portType name="TwoHopTranslation">
    <wsdl:operation name="multihopTranslate" parameterOrder="sourceLang intermediateLangs targetLang source">
      <wsdl:input name="multihopTranslateRequest" message="impl:multihopTranslateRequest"/>
      <wsdl:output name="multihopTranslateResponse" message="impl:multihopTranslateResponse"/>
      <wsdl:fault name="LanguagePathNotUniquelyDecidedException" message="impl:LanguagePathNotUniquelyDecidedException"/>
      <wsdl:fault name="ServerBusyException" message="impl:ServerBusyException"/>
      <wsdl:fault name="ServiceConfigurationException" message="impl:ServiceConfigurationException"/>
      <wsdl:fault name="NoAccessPermissionException" message="impl:NoAccessPermissionException"/>
      <wsdl:fault name="AccessLimitExceededException" message="impl:AccessLimitExceededException"/>
      <wsdl:fault name="UnsupportedLanguagePathException" message="impl:UnsupportedLanguagePathException"/>
      <wsdl:fault name="NoValidEndpointsException" message="impl:NoValidEndpointsException"/>
      <wsdl:fault name="UnknownException" message="impl:UnknownException"/>
      <wsdl:fault name="ServiceNotActiveException" message="impl:ServiceNotActiveException"/>
      <wsdl:fault name="ProcessFailedException" message="impl:ProcessFailedException"/>
      <wsdl:fault name="ServiceNotFoundException" message="impl:ServiceNotFoundException"/>
      <wsdl:fault name="InvalidParameterException" message="impl:InvalidParameterException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwoHopTranslationSoapBinding" type="impl:TwoHopTranslation">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="multihopTranslate">
    <wsdlsoap:operation soapAction="" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="multihopTranslateRequest">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://multihoptranslation.translation.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="multihopTranslateResponse">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
      <wsdl:fault name="LanguagePathNotUniquelyDecidedException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguagePathNotUniquelyDecidedException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServerBusyException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceConfigurationException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="NoAccessPermissionException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="AccessLimitExceededException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedLanguagePathException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguagePathException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="NoValidEndpointsException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceNotActiveException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ProcessFailedException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceNotFoundException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidParameterException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://langrid.nict.go.jp/langrid/services/TwoHopTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
