workflows/bpel/SpecializedTranslation/wsdl/TermSearchServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://trans.nict.go.jp/collabo/services/TermSearchService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://trans.nict.go.jp/collabo/services/TermSearchService" xmlns:intf="http://trans.nict.go.jp/collabo/services/TermSearchService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://langrid.nict.go.jp/ws_1_0/morphologicalanalysis/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://langrid.nict.go.jp/ws_1_0/morphologicalanalysis/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://trans.nict.go.jp/collabo/services/TermSearchService"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Morpheme">
    <sequence>
     <element name="lemma" nillable="true" type="xsd:string"/>
     <element name="partOfSpeech" nillable="true" type="xsd:string"/>
     <element name="word" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://trans.nict.go.jp/collabo/services/TermSearchService" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_0/morphologicalanalysis/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_Morpheme">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:Morpheme[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="termSearchRequest">

      <wsdl:part name="language" type="xsd:string"/>

      <wsdl:part name="morpheme" type="impl:ArrayOf_tns1_Morpheme"/>

      <wsdl:part name="term" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="termSearchResponse">

      <wsdl:part name="termSearchReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:portType name="TermSearchService">

      <wsdl:operation name="termSearch" parameterOrder="language morpheme term">

         <wsdl:input message="impl:termSearchRequest" name="termSearchRequest"/>

         <wsdl:output message="impl:termSearchResponse" name="termSearchResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TermSearchServiceSoapBinding" type="impl:TermSearchService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="termSearch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="termSearchRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.community.langrid.nict.go.jp" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="termSearchResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://trans.nict.go.jp/collabo/services/TermSearchService" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TermSearchServiceService">

      <wsdl:port binding="impl:TermSearchServiceSoapBinding" name="TermSearchService">

         <wsdlsoap:address location="http://192.168.0.2:8080/collabo/services/TermSearchService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
