workflows/bpel/BackTranslation/wsdl/unknown.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
 targetNamespace="http://langrid.nict.go.jp/langrid/services/BackTranslation"
  xmlns:impl="http://langrid.nict.go.jp/langrid/services/BackTranslation"
   xmlns:intf="http://langrid.nict.go.jp/langrid/services/BackTranslation"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:apachesoap="http://xml.apache.org/xml-soap"
      xmlns:ns1="http://localhost:8080/wrapper-mock-1.2/services/AbstractTranslation"
       xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          xmlns:tns2="http://langrid.nict.go.jp/ws_1_2/"
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:tns1="http://langrid.nict.go.jp/ws_1_2/backtranslation/">
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="BackTranslationPLT">
   <plnk:role name="backTranslator">
      <plnk:portType name="impl:BackTranslation"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" name="TranslationPLT">
   <plnk:role name="translator">
      <plnk:portType name="ns1:Translation"/>
   </plnk:role>
</plnk:partnerLinkType>
  <wsdl:types>
    <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/backtranslation/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="BackTranslationResult">
    <sequence>
     <element name="intermediate" nillable="true" type="xsd:string"/>
     <element name="target" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema targetNamespace="http://langrid.nict.go.jp/ws_1_2/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/backtranslation/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LangridException">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AccessLimitExceededException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="InvalidParameterException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="parameterName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnsupportedLanguagePairException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="language1" nillable="true" type="xsd:string"/>
       <element name="language2" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LanguagePairNotUniquelyDecidedException">
    <complexContent>
     <extension base="tns2:InvalidParameterException">
      <sequence>
       <element name="candidates" nillable="true" type="impl:ArrayOf_xsd_string"/>
       <element name="message" nillable="true" type="xsd:string"/>
       <element name="parameterName1" nillable="true" type="xsd:string"/>
       <element name="parameterName2" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoAccessPermissionException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="NoValidEndpointsException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotActiveException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProcessFailedException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServerBusyException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceNotFoundException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence>
       <element name="serviceId" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServiceConfigurationException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnknownException">
    <complexContent>
     <extension base="tns2:LangridException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
    <schema targetNamespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://langrid.nict.go.jp/ws_1_2/"/>
   <import namespace="http://langrid.nict.go.jp/ws_1_2/backtranslation/"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="UnknownException">
    <wsdl:part name="fault" type="tns2:UnknownException"/>
  </wsdl:message>
  <wsdl:message name="NoAccessPermissionException">
    <wsdl:part name="fault" type="tns2:NoAccessPermissionException"/>
  </wsdl:message>
  <wsdl:message name="LanguagePairNotUniquelyDecidedException">
    <wsdl:part name="fault" type="tns2:LanguagePairNotUniquelyDecidedException"/>
  </wsdl:message>
  <wsdl:message name="ServiceNotFoundException">
    <wsdl:part name="fault" type="tns2:ServiceNotFoundException"/>
  </wsdl:message>
  <wsdl:message name="AccessLimitExceededException">
    <wsdl:part name="fault" type="tns2:AccessLimitExceededException"/>
  </wsdl:message>
  <wsdl:message name="backTranslateResponse">
    <wsdl:part name="backTranslateReturn" type="tns1:BackTranslationResult"/>
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part name="fault" type="tns2:InvalidParameterException"/>
  </wsdl:message>
  <wsdl:message name="ServiceConfigurationException">
    <wsdl:part name="fault" type="tns2:ServiceConfigurationException"/>
  </wsdl:message>
  <wsdl:message name="ServiceNotActiveException">
    <wsdl:part name="fault" type="tns2:ServiceNotActiveException"/>
  </wsdl:message>
  <wsdl:message name="backTranslateRequest">
    <wsdl:part name="sourceLang" type="xsd:string"/>
    <wsdl:part name="intermediateLang" type="xsd:string"/>
    <wsdl:part name="source" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ServerBusyException">
    <wsdl:part name="fault" type="tns2:ServerBusyException"/>
  </wsdl:message>
  <wsdl:message name="NoValidEndpointsException">
    <wsdl:part name="fault" type="tns2:NoValidEndpointsException"/>
  </wsdl:message>
  <wsdl:message name="UnsupportedLanguagePairException">
    <wsdl:part name="fault" type="tns2:UnsupportedLanguagePairException"/>
  </wsdl:message>
  <wsdl:message name="ProcessFailedException">
    <wsdl:part name="fault" type="tns2:ProcessFailedException"/>
  </wsdl:message>
  <wsdl:portType name="BackTranslation">
    <wsdl:operation name="backTranslate" parameterOrder="sourceLang intermediateLang source">
      <wsdl:input name="backTranslateRequest" message="impl:backTranslateRequest"/>
      <wsdl:output name="backTranslateResponse" message="impl:backTranslateResponse"/>
      <wsdl:fault name="ServerBusyException" message="impl:ServerBusyException"/>
      <wsdl:fault name="LanguagePairNotUniquelyDecidedException" message="impl:LanguagePairNotUniquelyDecidedException"/>
      <wsdl:fault name="ServiceConfigurationException" message="impl:ServiceConfigurationException"/>
      <wsdl:fault name="NoAccessPermissionException" message="impl:NoAccessPermissionException"/>
      <wsdl:fault name="AccessLimitExceededException" message="impl:AccessLimitExceededException"/>
      <wsdl:fault name="UnsupportedLanguagePairException" message="impl:UnsupportedLanguagePairException"/>
      <wsdl:fault name="NoValidEndpointsException" message="impl:NoValidEndpointsException"/>
      <wsdl:fault name="UnknownException" message="impl:UnknownException"/>
      <wsdl:fault name="ServiceNotActiveException" message="impl:ServiceNotActiveException"/>
      <wsdl:fault name="ProcessFailedException" message="impl:ProcessFailedException"/>
      <wsdl:fault name="ServiceNotFoundException" message="impl:ServiceNotFoundException"/>
      <wsdl:fault name="InvalidParameterException" message="impl:InvalidParameterException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BackTranslationSoapBinding" type="impl:BackTranslation">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="backTranslate">
    <wsdlsoap:operation soapAction="" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="backTranslateRequest">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://backtranslation.translation.ws_1_2.wrapper.langrid.nict.go.jp" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="backTranslateResponse">
    <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
      <wsdl:fault name="ServerBusyException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServerBusyException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="LanguagePairNotUniquelyDecidedException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="LanguagePairNotUniquelyDecidedException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceConfigurationException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceConfigurationException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="NoAccessPermissionException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoAccessPermissionException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="AccessLimitExceededException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AccessLimitExceededException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="UnsupportedLanguagePairException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnsupportedLanguagePairException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="NoValidEndpointsException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="NoValidEndpointsException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="UnknownException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceNotActiveException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotActiveException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ProcessFailedException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProcessFailedException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceNotFoundException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ServiceNotFoundException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidParameterException">
    <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="InvalidParameterException" namespace="http://langrid.nict.go.jp/langrid/services/BackTranslation" use="encoded" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
