workflows/bpel/JearnBacktranslation/wsdl/unknown.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
targetNamespace="http://trans.nict.go.jp/active-bpel/services/JearnBacktranslationService"
xmlns:tns="http://trans.nict.go.jp/active-bpel/services/JearnBacktranslationService"
xmlns:jts="http://trans.nict.go.jp/active-bpel/services/JearnTranslationService"
xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"> 
  <wsdl:types>
    <schema targetNamespace="http://trans.nict.go.jp/active-bpel/services/JearnBacktranslationService"
 xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="BackTranslationResult">
   <sequence>
     <element name="intermediate" nillable="true" type="xsd:string"/>
     <element name="target" nillable="true" type="xsd:string"/>
   </sequence>
  </complexType>
 </schema>
  </wsdl:types>
  <wsdl:message name="BacktransRequest">
    <wsdl:part name="sourceLang" type="xsd:string"/>
    <wsdl:part name="intermediateLang" type="xsd:string"/>
    <wsdl:part name="source" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="BacktransResponse">
    <wsdl:part name="BacktransReturn" type="tns:BackTranslationResult"/>
  </wsdl:message>
  <wsdl:portType name="Backtrans">
    <wsdl:operation name="backTranslate">
      <wsdl:input message="tns:BacktransRequest"/>
      <wsdl:output message="tns:BacktransResponse"/>
    </wsdl:operation>
  </wsdl:portType>
<plnk:partnerLinkType name="BacktransPLT">
   <plnk:role name="backtranslator">
      <plnk:portType name="tns:Backtrans"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="TranslatePLT">
   <plnk:role name="translator">
      <plnk:portType name="jts:Translation"/>
   </plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
